.backgroundStyle {
    padding: 50px;
    background-color: #FFC53A;
    width: 250px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}

.buttonStyle {
    font-size: 1em;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 3px;
    color: #333;
}
